* {
    font-family: helvetica, sans;
}

main {
    display: grid;
    grid-template-areas: 'tree main main main main main';
}

.tree {
    grid-area: 'tree';
}

.textview {
    grid-area: 'main';
}

textarea {
    line-height: 21px;
    overflow-y: hidden;
    padding: 0;
    border: 0;
    background: #282a3a;
    color: #FFF;
    min-width: 800px;
    outline: none;
    resize: none;
    font-family: monospace;
    width: 100%;
}

.editor {
    display: flex;
    gap: 10px;
    font-family: monospace;
    line-height: 21px;
    background: #282a3a;
    border-radius: 2px;
    padding: 20px 10px;
    overflow: auto;
    height: 480px;
}


.line-numbers {
    padding-top: 1px;
    width: 20px;
    text-align: right;
}

.line-numbers span {
    counter-increment: linenumber;
    font-family: monospace;
    line-height: 21px;
    display: block;
    color: #506882;
}

.line-numbers, textarea {
    height: 9999px;
}


